## Packet

packet_auth_token       = "7Y9ygdjkmYFSiwL8JnjDw8biubTHS3Dt"
packet_project_id       = "eb975631-421b-8a3e-15cd-1d2ea7671961"
packet_plan             = "c3.small.x86"
packet_facility         = "sv15"
packet_operating_system = "ubuntu_20_04"
packet_billing_cycle    = "hourly"
packet_user_data        = ""
packet_hosts            = 1
packet_hostname         = "example.com"

## Cloudflare

cloudflare_email   = "human@example.com"
cloudflare_api_key = "74f203f0378f19c8be66115f206a83783e957"
cloudflare_domain  = "example.com"
